{% extends "layout.html" %}

{% block unique_body %}
<h1 class="abouttitle"> What is this website<span class='reddot'>?</span></h1>
<br>
<div class="container">
    <div class="text">
    The Panopticon is a website with a mission to spread information of the surveillance technologies around us. While
    the author does recogise the possible advantages to surveillance, this website 
    wants to draw attention to the various technologies affecting our privacy.
    </div>
    <img class="aboutimage" src="static/camera.jpg" alt="Surveillance camera with the text I SEE YOU" >
</div>
<br>
<h1 class="abouttitle"> What is the Panopticon<span class='reddot'>?</span></h1>
<br>
<div class="container">
    <img class="aboutimage" src="static/prison.jpg" alt="A face behind prison bars" >
    <div class="text">
        <a href="https://www.brown.edu/Departments/Joukowsky_Institute/courses/13things/7121.html">The Panopticon</a> is a concept of a prison developed by a 
        <a href="https://www.theguardian.com/technology/2015/jul/23/panopticon-digital-surveillance-jeremy-bentham">British philosopher Jeremy Bentham and his brother Samuel. </a> The idea of the panopticon is to monitor the most amount of prisoners with as little staff as possible.
        To achieve this, the Benthams designed a circular prison, where at the center there is a watchtover. The cells are always visible to the watchtover,
        making the prisoners feel like they are always being watched.
        <br>
        <br>
        A French philosopher Michael Foucault introduced the idea to use the panopticon as a metaphor for societal control over every aspect of an individual life.
        The panopticon is a fitting description of asymmetrical surveillance in modern times, <a href="https://medium.com/@xzhan065/power-of-panopticism-in-modern-society-79ea015fab9a"> such as the widespread usage of CCTV cameras and interned monitoring.</a>

    </div>
</div>
<br>
<h1 class="abouttitle">References<span class='reddot'>.</span></h1>
<br>
<div class="container">
    <div class="text">
    <h2 class="aboutheader">Images</h2>
    <a href=" https://unsplash.com/photos/j4NM6yamyqo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
        A surveillance camera
    </a>
    <br>
    <a href="https://unsplash.com/photos/FNaiohYZtOA">Person behind bars</a>
    <br>
    <a href="https://unsplash.com/photos/thZ4pXsj8hI">Library</a>
    <h2 class="aboutheader">Articles on the panopticon</h2>
    <a href="https://www.brown.edu/Departments/Joukowsky_Institute/courses/13things/7121.html">Article 1</a>
    <br>
    <a href="https://www.theguardian.com/technology/2015/jul/23/panopticon-digital-surveillance-jeremy-bentham">Article 2</a>
    <br>
    <a href="https://medium.com/@xzhan065/power-of-panopticism-in-modern-society-79ea015fab9a">Article 3</a>
    <h2 class="aboutheader">Data for the graphics on previous pages</h2>
    <a href="https://atlasofsurveillance.org/">Atlas of surveillance</a>
    </div>
    <img class="aboutimage" src="static/books.jpg" alt="Library hallway with orange books" >
</div>
{% endblock %}