{% extends "layout.html" %}

{% block unique_body %}
    <body>
        <div class='wholepage'>
            <div class='titleofpage'>
                Watching the watchdogs<span class='reddot'>.</span>
            </div>
            <div class='bodytext'>
                Numerous agencies in the United States use technology to surveil the citizens. 
                How are you being watched <span class="boldtext">in the biggest cities</span> of the country? &nbsp
                <br>
                <br>
                <div class="frontpagebutton">
                <a href="/newyork.html" class="button">New York</a>
                <a href="/losangeles.html" class="button">Los Angeles</a>
                <a href="/chicago.html" class="button">Chicago</a>
                <a href="/houston.html" class="button">Houston</a>
                </div>
            </div>
        </div>
    </body>

{% endblock %}